.network {
    vertical-align: top;
    display: inline-block;
    text-align: center;
  }
  .network__share-count {
    margin-top: 3px;
    font-size: 12px;
    color: white;
  }
  .network__share-button {
    cursor: pointer;
  }
  .network__share-button:hover:not(:active) {
    opacity: 0.75;
  }