.detailsordiscuss {
    padding:1%;
    border-radius: 20px;
    background-color: white;
    margin: 2%;
  }

.tagsandsocial {
    padding:1%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .logtags {
        float: left;
        padding-left: 0.5%;
    }
    .logsocial {
        float: right;
        padding-right: 0.5%;
    }
    .clearboth{
        clear: both;
    }
}
@media (max-width: 767px) {
    .logtags {
        text-align: center;
        padding-left: 0.5%;
    }
    .logsocial {
        text-align: center;
        padding-right: 0.5%;
    }
    .clearboth{
        clear: both;
    }
}