.logorsocial {
    padding:1%;
  }
.logmetadata {
    padding:1%;
    border-radius: 20px;
  }
.logmetadata:hover{
    background-color: lightgray;
    cursor: pointer;
}
.logtagsandsocial {
    padding:1%;
    border-radius: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .logtitle {
        float: left;
        padding-left: 0.5%;
    }
    .logdatetime {
        float: right;
        padding-right: 0.5%;
    }
    .logtags {
        float: left;
        padding-left: 0.5%;
    }
    .logsocial {
        float: right;
        padding-right: 0.5%;
    }
    .clearboth{
        clear: both;
    }
}
@media (max-width: 767px) {
    .logtitle {
        text-align: center;
        padding-left: 0.5%;
    }
    .logdatetime {
        text-align: center;
        padding-right: 0.5%;
    }
    .logtags {
        text-align: center;
        padding-left: 0.5%;
    }
    .logsocial {
        text-align: center;
        padding-right: 0.5%;
    }
    .clearboth{
        clear: both;
    }
}