.logmetadata {
    padding:1%;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 2%;
    box-shadow: 5px 5px;
  }
  
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bolder
}

.waiter {
    display: flex;
    justify-content: center;
}

.note {
    color: white;
    text-align: center;
}

@media (min-width: 768px) {
    .logtitle {
        float: left;
        padding-left: 0.5%;
    }
    .logdatetime {
        float: right;
        padding-right: 0.5%;
    }
    .tag {
        padding-left: 0.5%;
        margin-left: 0.5%;
    }
    .clearboth{
        clear: both;
    }
}
@media (max-width: 767px) {
    .logtitle {
        text-align: center;
        padding-left: 0.5%;
    }
    .logdatetime {
        text-align: center;
        padding-right: 0.5%;
    }
    .clearboth{
        clear: both;
    }
}