.aboutcontent
{
    padding:1%;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 2%;
    text-shadow: 5px 5px lightgray;
    text-align: center;
}

.aboutcontent a {
    display: block;
    margin: 2%;
}