.Page {
    background-color: #222;
  }
  
  .Page-logo {
    animation: Page-logo-spin infinite 20s linear;
    height:30px;
  }
  
  .Page-header {
    background-color: #222;
    height: 20%;
    padding: 2%;
    color: white;
    text-align: center; 
  }

  .Page-content {
    padding: 1px;
    min-height:100vh;
  }

  .Page-footer {
    background-color: #222;
    height: 20%;
    padding: 1%;
    color: white;
    text-align: center; 
  }

  @keyframes Page-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .mfb-component--tl{
    animation: fromTop 1s 1;
    -webkit-animation: fromTop 1s 1;
  }
  .mfb-component--tr{
    animation: fromTop 1.3s 1;
    -webkit-animation: fromTop 1.3s 1;
  }
  .mfb-component--br{
    animation: fromBottom 1.6s 1;
    -webkit-animation: fromBottom 1.6s 1;
  }
  .mfb-component--bl{
    animation: fromBottom 1.9s 1;
    -webkit-animation: fromBottom 1.9s 1;
  }
  @keyframes fromBottom {
    0% {
      transform: translateY(250px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes fromTop {
    0% {
      transform: translateY(-250px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes fromBottom {
    0% {
      transform: translateY(250px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes fromTop {
    0% {
      transform: translateY(-250px);
    }
    100% {
      transform: translateY(0);
    }
  }   