.Page {
    background-color: #222;
  }
  
  .Page-logo {
    animation: Page-logo-spin infinite 20s linear;
    height:30px;
  }
  
  .Page-header {
    padding : 3%;
  }

  .header {
    color: white;
    float:left;
    text-shadow: 5px 5px #000000;
    font-size: 18px;
  }

  .navlink {
    margin-left: 2%;
    float:right;
  }

  .navlinkfont {
      color:white;
      font-size: 150%;
      text-shadow: 5px 5px #000000;
  }
  
  .navlinkfontselected {
    color:grey;
    font-size: 150%;
}

  .navlinkfont:hover{
    color:lightgray;
}

.clearboth{
  clear: both;
}

  .Page-content {
    padding: 3%;
    min-height:100vh;
  }

  .Page-footer {
    padding: 3%;
    text-align: center;
  }

  @keyframes Page-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }