.Page {
    background-color: #222;
  }
  
  .Page-logo {
    animation: Page-logo-spin infinite 20s linear;
    height:30px;
  }
  
  .Page-header {
    background-color: #222;
    height: 20%;
    padding: 2%;
    color: white;
    text-align: center; 
  }

  .Page-content {
    padding: 1px;
    min-height:100vh;
  }

  .Page-footer {
    background-color: #222;
    height: 20%;
    padding: 1%;
    color: white;
    text-align: center; 
  }

  @keyframes Page-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
/* Position and sizing of burger button */
@media (min-width: 768px) {
.bm-burger-button {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 20px;
  }
}
@media (max-width: 767px) {
  .bm-burger-button {
      position: fixed;
      width: 10px;
      height: 10px;
      left: 10px;
      top: 10px;
    }
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: white;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #222;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    text-align: center;
  }

  .bm-menu-wrap {
    background: #222;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #222;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item{
    color:white;
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .menu-item:hover{
    background-color: grey;
  }
    