.ReactCollapse--collapse {
    max-width: auto;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .ReactCollapse--collapse:hover {
      border-color: cyan;
  }
  .log {
      padding:1%;
  }
  @media (min-width: 768px) {
  .logdatetime {
      float: right;
      cursor: pointer;
  }
  .logtitle {
    float: left;
}
.clearboth{
    clear: both;
}
}