.ReactCollapse--collapse {
    max-width: auto;
    border: 1px solid gray;
    background-color: white;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif
  }
  .log {
      padding:1%;
  }
  .logmetadata {
    padding:1%;
}
.logmetadata:hover{
    background-color: lightgray
}
.logmetadatarow1:hover {
    cursor: pointer;
}
  .logmetadatafade {
    font-size: 10px;
    background-color: lightgray
}

  @media (min-width: 768px) {
    .logtitle {
        float: left;
        padding-bottom: 0.5%;
        padding-left: 0.5%;
    }
    .logdatetime {
      float: right;
      padding-right: 0.5%;
      padding-bottom: 0.5%; 
  }
  .logsocial {
      float:right;
  }
  .logsocial:hover {
    cursor: pointer;
}
.logtags {
    float:left;
}
.clearboth{
    clear: both;
}
}
@media (max-width: 767px) {
    .logtitle {
        text-align: center;
        padding-bottom: 0.5%;
        padding-left: 0.5%;
    }
    .logdatetime {
      text-align: center;
      padding-right: 0.5%;
      padding-bottom: 0.5%;
  }
  .logsocial{
      text-align: center;
  }
  .logsocial:hover {
    cursor: pointer;
}
  .logtags {
    text-align:center;
}
.clearboth{
    clear: both;
}
}
/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    width: 100%;
    border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}